.news {
  padding: 8rem;
  text-align: center;
}
.heading_05 {
  background-color: #fae8dc;
  color: #fb8a22;
  text-transform: uppercase;
  display: inline;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}
.heading_02 {
  text-transform: capitalize;
  font-size: 3rem;
  margin: 4rem 0;
}
@media screen and (max-width: 1100px) {
  .news {
    padding: 4rem;
  }
}
@media screen and (max-width: 769px) {
  .heading_02 {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 481px) {
  .heading_02 {
    font-size: 2rem;
  }
}
